<div class="your-info-main">

    <div *ngIf="currentStep === 1">
        <div class="form-header">
            <h1>Personal Info</h1>
            <h4>Please Provide your name, email address, and phone number</h4>
        </div>
        <form class="form" [formGroup]="registerForm">
            <div class="field">
                <div class="input-container">
                    <input type="text" class="input" formControlName="username" placeholder="Name" [class.invalid]="registerForm.get('username')?.invalid && 
                (registerForm.get('username')?.dirty || 
                registerForm.get('username')?.touched || 
                isSubmitted)
                ">
                    <mat-icon class="warn_icon" *ngIf="registerForm.get('username')?.invalid && 
                (registerForm.get('username')?.dirty || 
                registerForm.get('username')?.touched || 
                isSubmitted)">warning</mat-icon>
                </div>
            </div>
            <div class="field">

                <div class="input-container">
                    <input type="text" class="input" formControlName="email" placeholder="Email" [class.invalid]="registerForm.get('email')?.invalid && 
                (registerForm.get('email')?.dirty || 
                registerForm.get('email')?.touched || 
                isSubmitted)
                ">
                    <mat-icon class="warn_icon" *ngIf="registerForm.get('email')?.invalid && 
                (registerForm.get('email')?.dirty || 
                registerForm.get('email')?.touched || 
                isSubmitted)">warning</mat-icon>
                </div>
            </div>
            <div class="field">
                <div class="input-container">
                    <input type="number" class="input" formControlName="phoneNum" placeholder="595808244" [class.invalid]="registerForm.get('phoneNum')?.invalid && 
                    (registerForm.get('phoneNum')?.dirty || 
                    registerForm.get('phoneNum')?.touched || 
                    isSubmitted)
                    ">
                    <mat-icon class="warn_icon" *ngIf="registerForm.get('phoneNum')?.invalid && 
                (registerForm.get('phoneNum')?.dirty || 
                registerForm.get('phoneNum')?.touched || 
                isSubmitted)">warning</mat-icon>
                </div>
            </div>
        </form>

        <div class="next-step-btn">
            <button class="btn-next" (click)="nextStep()">Next Step</button>
        </div>

    </div>

    <div *ngIf="currentStep === 2">
        <div class="form-header">
            <h1>Pick add-ons</h1>
            <h4>Add-ons help enhanche your gaming experience</h4>
        </div>
        <form class="form form-checkbox" [formGroup]="registerForm">
            <div class="field-checkbox" [class.checked]="isChecked" (click)="toggleCheckbox()">
                <input id="myCheckbox" class="checkbox-cont" name="onlineService" type="checkbox" formControlName="onlineService" [checked]="isChecked"> 
                <label class="checkbox-label" for="onlineService">
                    <h4 class="checkbox-headline">Online Service</h4> 
                    <h5 class="checkbox-attributes">Access to Multiplayer games</h5>
                </label> 
                <p class="checkbox-price">+$1/mo</p>
            </div>
            <div class="field-checkbox" [class.checked]="isChecked1" (click)="toggleCheckbox1()">
                <input id="myCheckbox" class="checkbox-cont" name="largerStorage" type="checkbox" formControlName="largerStorage" [checked]="isChecked1"> 
                <label class="checkbox-label" for="largerStorage">
                    <h4 class="checkbox-headline">Larger Storage</h4> 
                    <h5 class="checkbox-attributes">Extra 1 TB of cloud save</h5>
                </label> 
                <p class="checkbox-price">+$2/mo</p>
            </div>
            <div class="field-checkbox" [class.checked]="isChecked2" (click)="toggleCheckbox2()">
                <input id="myCheckbox" class="checkbox-cont" name="customizable" type="checkbox" formControlName="customizable" [checked]="isChecked2"> 
                <label class="checkbox-label" for="onlineService">
                    <h4 class="checkbox-headline">Costomizable Profile</h4> 
                    <h5 class="checkbox-attributes">Custom Theme on your profile</h5>
                </label> 
                <p class="checkbox-price">+$2/mo</p>
            </div>
        </form>
        <div class="next-step-btn checkbox-btn">
            <button class="btn-previous" (click)="previousStep()">Go Back</button>
            <button class="btn-next" (click)="nextStep()">Next Step</button>
        </div>

    </div>

    <div *ngIf="currentStep === 3">
        <div>
            <h1>THANKS</h1>
        </div>

        <button (click)="previousStep()">Previous</button>
    </div>

</div>