<div class="content-wrapper">

    <div class="steps">

        <div class="step">
            <h4>STEP 1</h4>
            <h3 [ngClass]="{'highlighter': counterStep === 1}">YOUR INFO</h3>
        </div>
        <div class="step">
            <h4>STEP 2</h4>
            <h3 [ngClass]="{'highlighter': counterStep === 2}">SELECT PLAN</h3>
        </div>
        <div class="step">
            <h4>STEP 3</h4>
            <h3 [ngClass]="{'highlighter': counterStep === 3}">ADD-ONS</h3>
        </div>

        <div class="step">
            <h4>STEP 4</h4>
            <h3 [ngClass]="{'highlighter': counterStep === 4}">SUMMARY</h3>
        </div>
    </div>


</div>